.list {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.list li {
  margin: 1rem 0;
  border: 1px solid #ffffff;
  background-color: #ffffff#eceffc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  color: white;
  background: rgba(232, 19, 189, 0.8);
  border-radius: 5px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

#code {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #efb1e7, #cca0bf);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hidden {
  display: none;
}
